
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Sunil Ojha</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static '/images/F64GJ54XoAAjpsI.jpg' %}" >
					<hr>
					<h4>Hi I'm Sunil Ojha!</h4>
					<p>I love Cloud, DevOps and Software</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>My First Job as a DevOps</h4>
					<hr>
					<p>I mostly worked in Infrastructure and CI/CD pipelines in the Gitlab-CI</p>

					<ul class="social-links">
						<li><img class="social" src="{% static '/images/GQ1pPpSXkAE0_9W.jpeg' %}"></li>
						<li><img class="social" src="{% static '/images/GRaSMskaYAAapY_.jpeg' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a DevOps Engineer</h5>
					<hr>
					<p>Junior and Associate DevOps Engineer.</p>
					<p>Designed, built and managed infrastructure in the cloud and local.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Python, Django, HTML/CSS, AWS, Jenkins, Terraform, Pulumi, CI/CD.</p>
					<p>PS: Working on Kubernetes, Azure and GitOps.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p>Learning the Concepts and Build Projects</p>

					<p>I learn by doing the projects and concepts related to it.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>Become a DevOps and Cloud Specialist.</p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>